body {
    margin: 0 auto;
    width: 800px;
    background: rgb(238, 238, 238);


    div.title {
        display: flex;
        justify-content: center;
        border-bottom: 1px solid #b3b3b3;
      }
      .title1, .title2, .title3, .title4, .title5, .title6{
        flex-basis: 8%;
      }
      .title1 {color: red;}
      .title2 {color: blue;}
      .title3 {color: orange;}
      .title4 {color: rgb(183, 183, 0);}
      .title5 {color: green;}
      .title6 {color: purple;}
    
      h2.score {
        font-size: 2.5rem;
        text-align: center;
        display: block;
        background: rgb(255, 255, 255);
        padding: 20px 0;
        margin: 1rem 44% 0 44%;
        border: 2px solid rgb(255, 0, 0);
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
      }
      .hidden {display: none;}

      .form {
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        background: rgb(255, 255, 255);
        border-radius: 10px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
      }

      .difficulty, .category {
        flex-basis: 50%;
        text-align: center;
        select {
            width: 90%;
            height: 3rem;
            padding: 0 10px;
            border: 1px solid black;
            background: rgb(255, 255, 182);
        }
      }

      div.difficulty {
        h3 {color: purple;}
    }
    
      div.category {
        h3 {color: green;}
      }

      .letsGo {
        flex-basis: 100%;
        button {
            font-size: 1.2rem;
            margin: 1rem 37.5%;
            padding: 15px 0;
            border-radius: 10px;
            border: none;
            width: 200px;
            background: blue;
            color: white;
        }
      }

      .hide {display: none;}
      .hideQuestion {display: none;}
      .hideButtons {display: none;}

      p.question {
        display: block;
        background: rgb(255, 255, 255);
        border-radius: 10px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
        padding: 4rem .5rem;
        text-align: center;
        font-size: 1.2rem;
        border: 1px solid red;
      }
        .trueButton, .falseButton {
            display: inline-block;
            font-size: 1.2rem;
            padding: 15px 0;
            border-radius: 10px;
            border: none;
            width: 200px;
            color: white; 
      }
      .trueButton {
        margin-left: 18.75%;
        background: blue;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    }
      .falseButton {
        margin-left: 12.5%;
        margin-top: 0;
        background: red;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    }
    
    
      .backdrop {
          padding: auto;
          width: 800px;
          height: 100%;
          position: fixed;
          background: rgba(0, 0, 0, 0.8)
        }
        .trueModal {
          padding: 10px;
          border-radius: 10px;
          max-width: 400px;
          margin: 10% auto;
          text-align: center;
          background: white;
          border: 5px solid green;
          color: green;
        }
        .falseModal {
          padding: 10px;
          border-radius: 10px;
          max-width: 400px;
          margin: 10% auto;
          text-align: center;
          background: white;
          border: 5px solid red;
          color: red;
        }
        .closeButton {
            padding: 10px 0;
            margin: 1rem 0;
            width: 100px;
            font-size: 1.2rem;
            color: white;
            background: purple;
            border-radius: 8px;
        }
        .replayButton {
            padding: 20px 0;
            margin: 1rem 31.25%;
            width: 300px;
            font-size: 1.2rem;
            border-radius: 8px;
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
            background: rgb(224, 224, 0);
            border: none;
        }
}